.header {
    background-image: url("https://media.giphy.com/media/GkQJID4P3ZcCQ/giphy.gif");
    background-size: 100%;
    background-position: center;
    height: 85vh;
}

.content {
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
}

.content h1 {
    margin: 0;
    color: #D5BB53;
    font-weight: bold;
    padding-top: 15vh;
}